.payment {
    .font-weight-light {
        font-size: 10px !important;
    }
}
.card {
    .d-item {
        display: none;
        position: relative;
    }
}

.card:hover {
    position: relative;
    .d-item {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.224);
        button {
            position: absolute;
        }
        button:nth-child(1) {
            top: 40%;
            left: 20%
        }
        button:nth-child(2) {
            top: 40%;
            left: 65%;
        }
    }
}